.container{
    width: 100% ;
    height: 100vh ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: rgb(228, 225, 223) ;
    border-radius: 10px;
    padding: 20px ;

}
.calculator form input{
    border: 0 ;
    outline: 0;
    width: 60px ;
    height: 60px ;
    margin: 10px ;
    font-size: 20px ;
}
form .display{
    display: flex ;
    margin: 20px 0 ;
    border: none ;
}
form .display input{
    color: black ;
    text-align: right ;
    flex: 1 ;
}